/* FONTS */
/* @font-face {
    font-family: 'roboto';
    src: url(../../fonts/Roboto-Bold.ttf),
        local(Roboto-Bold);
}

@font-face {
    font-family: 'roboto-regular';
    src: url(../../fonts/Roboto-Regular.ttf),
        local(Roboto-Regular)
}

@font-face {
    font-family: 'roboto-light';
    src: url(../../fonts/Roboto-Light.ttf),
        local(Roboto-Light)
} */

/* GENERAL */
* {
    padding: 0;
    margin: 0;
    outline: 0;
}

a {
    text-decoration: none;
}

/* GRIDS */
#grid-container {
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2fr 0.2fr;
    width: 100vw;
    height: 100vh;
}

#header-item {
    grid-column: 1/4;
    grid-row: 1/2;
}

#main-item {
    grid-column: 1/4;
    grid-row: 2/3;
}

#footer-item {
    grid-column: 1/4;
    grid-row: 3/4;
}

/* HEADER */
#header-logo {
    /* Position */
    text-align: center;
    /* Style */
    background-color: #d4d4d4;
}

#navigation {
    /* Position */
    flex-direction: row;
    justify-content: center;
    /* Style */
    font-family: roboto;
    background-color: #003333;
    /* Extra */
    display: flex;
}

#navigation a {
    /* Position */
    padding: 14px 12px;
    /* Style */
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
}

#navigation a:hover {
    /* Style */
    background-color: #cc3300;
}

#navigation .active {
    /* Style */
    background-color: #cc3300;
}

/* MAIN */
body {
    /* Position */
    text-align: center;
    /* Style */
    background: radial-gradient(circle, transparent 20%, #d4d4d4 20%, #d4d4d4 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #d4d4d4 20%, #d4d4d4 80%, transparent 80%, transparent) 35px 35px, linear-gradient(#003333 2.8000000000000003px, transparent 2.8000000000000003px) 0 -1.4000000000000001px, linear-gradient(90deg, #003333 2.8000000000000003px, #d4d4d4 2.8000000000000003px) -1.4000000000000001px 0;
    background-size: 70px 70px, 70px 70px, 35px 35px, 35px 35px;
    font-family: roboto;
    font-size: 18px;
    /* Extra */
    overflow-y: scroll;
    overflow-x: hidden;
}

/* FOOTER */
#footer-content {
    /* Position */
    text-align: center;
    margin-left: -10px;
    margin-right: -10px;
    /* Style */
    font-family: roboto-light;
    background-color: #d4d4d4;
    color: #003333;
    box-shadow: 10px -5px 16px #003333;
}

#footer-content>h4 {
    /* Position */
    padding-top: 5px;
    /* Style */
    font-size: 20px;
    font-family: roboto;
}

.footer-social {
    /* Style */
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

#footer-logo {
    /* Position */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 170px;
    height: 50px;
}

/* INDEX */
#categories {
    /* Position */
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    /* Extra */
    display: flex;
    flex-wrap: wrap;
}

.category .image {
    /* Style */
    border: 2px solid #cc3300;
    border-bottom: 0px solid #cc3300;
    background-color: #cc3300;
    border-image-outset: 15px;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 0px 2px 16px #cc3300;
    /* Extra */
    max-height: 370px;
    overflow: hidden;
}

.category .title {
    /* Position */
    padding-top: 40px;
    margin-top: -40px;
    /* Style */
    border: 2px solid #cc3300;
    background-color: #003333;
    color: #d4d4d4;
    border-radius: 25px;
    box-shadow: 0px 2px 16px #cc3300;
}

/* CATEGORY */
#login {
    /* Position */
    float: right;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    /* Style */
    background-color: #003333;
    color: #d4d4d4;
    border: 4px solid #cc3300;
    border-radius: 25px;
    box-shadow: 0px 2px 16px #003333;
    /* Extras */
    display: flex;
    height: 155px;
    width: 170px;
}

#form {
    /* Position */
    margin: 0 auto;
    padding-top: 2px;
    padding-bottom: 2px;
}

#form button {
    /* Position */
    margin-top: 10px;
    margin-bottom: 5px;
    /* Style */
    background-color: red;
    color: #d4d4d4;
    width: 50px;
    height: 30px;
}

#form button:hover {
    cursor: pointer;
}

#cart {
    /* Position */
    margin: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    /* Style */
    color: #d4d4d4;
}

#cart a {
    /* Style */
    cursor: pointer;
    color: #d4d4d4;
}

#products {
    /* Position */
    align-items: center;
    margin-top: 35px;
    /* Extra */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    /* Position */
    margin-bottom: 2%;
    margin-left: 10px;
    margin-right: 10px;
    float: center;
    /* Style */
    font-family: roboto-regular;
    background-color: #003333;
    color: #d4d4d4;
    border: 4px solid #cc3300;
    box-shadow: 0px 2px 16px #cc3300;
    border-radius: 25px;
}

.product .image {
    /* Position */
    margin-top: 10px;
    /* Style */
    border: 2px solid #cc3300;
    background-color: #003333;
    border-radius: 25px 25px 25px 25px;
    /* Extra */
    object-fit: contain;
    max-width: 30%;
    max-height: 30%;
}

.product .title {
    /* Style */
    border-bottom: 2px solid #cc3300;
    /* Extras */
    text-transform: capitalize;
}

.product .description {
    /* Position */
    padding-left: 40px;
    padding-right: 40px;
}

.product .description .code {
    /* Extras */
    text-transform: capitalize;
}

.product .description .code>h5 {
    /* Extra */
    display: inline-block;
}

.product .description .code .kwdikos {
    /* Extra */
    display: inline-block;
}

.product .price>h3 {
    /* Extra */
    display: inline-block;
}

.product .price>p {
    /* Position */
    padding-left: 5px;
    /* Extra */
    display: inline-block;
}

.buy-button {
    /* Position */
    margin-bottom: 5px;
    /* Style */
    background-color: #cc3300;
    color: #d4d4d4;
    /* Extra */
    width: 50px;
    height: 30px;
}

.buy-button:hover {
    /* Style */
    cursor: pointer;
}

.kathgories-proiontwn {
    /* Position */
    text-align: left;
    float: left;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    /* Style */
    background-color: #003333;
    color: #d4d4d4;
    border: 4px solid #cc3300;
    border-radius: 25px;
    box-shadow: 0px 2px 16px #003333;
}

.koumpia {
    /* Position */
    padding-top: 2px;
    padding-bottom: 2px;
}

input,
label {
    /* Extra */
    cursor: pointer;
}

input[type="radio"] {
    /* Extra */
    height: 15px;
    width: 15px;
}

.ypokathgories {
    /* Style */
    appearance: none;
    border: 4px solid #fff;
    background-color: #ccc;
    border-radius: 50%;
    outline: 1px solid #ccc;
}

.ypokathgories:hover {
    /* Style */
    outline-color: gray;
}

.ypokathgories:checked {
    /* Style */
    outline-color: #cc3300;
    background-color: #cc3300;
    animation: outline-checked;
    animation-duration: 0.1s;
    animation-iteration-count: 4;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes outline-checked {
    0% {
        outline-offset: 0;
    }

    100% {
        outline-offset: -0.2rem;
    }
}

/* CART */
table {
    /* Position */
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    /* Style */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #003333;
    color: #d4d4d4;
    /* Extra */
    border-collapse: collapse;
    width: 70%;
}

table th {
    /* Position */
    padding: 8px;
    padding-top: auto;
    padding-bottom: auto;
    /* Style */
    border: 1px solid #ddd;
    background-color: #cc3300;
    color: white;
    /* Extra */
    text-transform: capitalize;
}

table td {
    /* Position */
    padding: 8px;
    /* Style */
    border: 1px solid #ddd;
    /* Extra */
    text-transform: capitalize;
}

table td:hover {
    /* Style */
    cursor: pointer;
}