/* Put your CSS stylesheets here */


/* !!!!!!!!!!! FONTS !!!!!!!!!!!!! */

@font-face {
    font-family: 'roboto';
    src: url(../../fonts/Roboto-Bold.ttf), 
        local(Roboto-Bold);


}

@font-face {

    font-family: 'roboto-regular';
    src: url(../../fonts/Roboto-Regular.ttf), 
        local(Roboto-Regular)

}

/* διαφορα font που θα χρησιμοποιηθουν σε ολες τις σελιδες */
@font-face {

    font-family: 'roboto-light';
    src: url(../../fonts/Roboto-Light.ttf),
        local(Roboto-Light)
}


/* !!!!!!!!!!!!! ΤΕΛΟΣ FONTS !!!!!!!!!!!!! */





.grid-container {

    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2fr 0.2fr;
    /*αρχικα εχουμε 3 column για υπολογιστη και μετα με media queries θα γινουν 2 για ταμπλετ και 1 για κινητα */
    width: 100vw;
    height: 100vh;

}

.header-item {

    grid-column: 1/4;
    grid-row: 1/2;
}

.main-item {
    /* εδω εχουμε φτιαξει με grid layout τα 3 σημεια καθε σελιδας ...header , main και footer */
    /* δηλαδη το που ξεκιναει και τελειωνει το καθε απο τα 3 μερη */
    grid-column: 1/4;
    grid-row: 2/3;
}



.footer-item {

    grid-column: 1/4;
    grid-row: 3/4;

}



/* !!!!!!!!!!!!!! ΤΕΛΟΣ GRID LAYOUT !!!!!!!!!!!!!!!!! */


/* !!!!!!!!!!!! HEADER !!!!!!!!!!!!! */


.header-light-color {
    background-color: #5680e9;
    text-align: center;
    margin-top: -30px;
    /* εχουμε βαλει χρωμα για background και μερικα margin ωστε να πηγαινει η φωτο στο κεντρο */
    margin-left: -10px;
    margin-right: -10px;


}




.navigation {
    font-family: roboto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #84ceeb;
    /* display flex ωστε να ειναι το καθε κουμπι ενα τετραγωνακι, justify και align center ωστε να ειναι κεντρο ολα τα κουμπια του μενου , line height για να ειναι λιγο πιο ψηλα και βαλαμε και @font-face roboto ως font */
    /*float: none;*/


}



.navigation a {
    color: black;
    font-size: 18px;
    /* αλλαγη στο χρωμα του font και βγαλαμε το underline απο τα link ωστε να φαινεται πιο ωραιο ,  τα καναμε bold */
    text-decoration: none;
    padding: 14px 12px;
    font-weight: bold;


}

.navigation a:visited {
    text-decoration: none;
    /* να μην αλλαζει το χρωμα αν τα εχουμε ηδη πατησει / επισκευθει */
}

.navigation a:hover {
    background-color: #2ea8d9;
    /* χρωμα του καθε "κουμπιου" απο το μενου οταν κανεις hover με το ποντικι */
}

.navigation a:active {
    /* χρωμα που παιρνει το font οταν πατας το συγκεκριμενο link */
    color: grey;
}


.navigation .active {
    /* χρωμα που παινρει το καθε κουμπι οταν ειναι ενεργο , δηλαδη εισαι στην συγκεκριμενη σελιδα */
    background-color: #2ea8d9;

}

/* !!!!!!!!!!! ΤΕΛΟΣ HEADER !!!!!!!!!!!! */



/* !!!!!!!!!!!!!!!! INDEX !!!!!!!!!!!!!!! */

body {
    background-color: #badff1;
    /* χρωμα για background του main περιεχομενου , font για το περιεχομενο επισης και overflow ωστε να μην υπαρχει η οριζοντια μπαρα scroll */
    font-family: roboto;
    font-size: 18px;
    /*font-size: 1.17vw;*/
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
}



#myData {

    display: flex;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 5%;
    padding-bottom: 5%;
}

.titlos {

    border: 2px solid #2ea8d9;
    background-color: #6ab1d4;
   
}

.fotografia {
    border: 2px solid #2ea8d9;
    border-bottom: 0px solid #2ea8d9;
    background-color: #6ab1d4;
    border-image-outset: 15px;
}


/* !!!!!!!!!!!!! ΤΕΛΟΣ INDEX !!!!!!!!!!!!!!!!! */

/* !!!!!!!!!!!!!!! FOOTER !!!!!!!!!!!!!!!!!!!!!! */
 
.footer-content {

    font-family: roboto-light;
    background-color: #5680e9;
    text-align: center;

    /* ΒΓΑΖΩ ΤΟ MARGIN TOP ΩΣΤΕ ΝΑ ΓΙΝΕΙ ΩΡΑΙΟ ΓΙΑ 4ο ΠΑΡΑΔΟΤΕΟ ΜΕ FR */
    /*margin-top: 50px;*/

    margin-left: -10px;
    margin-right: -10px;
    box-shadow: 0px -5px 16px #6ab1d4;
    border-bottom: 15px solid black;
}

.footer-content>h4:first-child {
    font-size: 20px;
    padding-top: 5px;
    font-family: roboto;
}

.footer-content>a {

    text-decoration: none;
}

.footer-content>a>img {
    filter: grayscale(100%);
    border-radius: 25px;
}

.footer-content>a>img:hover {
    filter: grayscale(0%);
}

/* !!!!!!!!!!!!! TΕΛΟΣ FOOTER !!!!!!!!!!!! */