/* Put your CSS stylesheets here */


/* !!!!!!!!!!! FONTS !!!!!!!!!!!!! */

@font-face {
    font-family: 'roboto';
    src: url(../../fonts/Roboto-Bold.ttf), 
        local(Roboto-Bold);


}

@font-face {

    font-family: 'roboto-regular';
    src: url(../../fonts/Roboto-Regular.ttf), 
        local(Roboto-Regular)

}

/* διαφορα font που θα χρησιμοποιηθουν σε ολες τις σελιδες */
@font-face {

    font-family: 'roboto-light';
    src: url(../../fonts/Roboto-Light.ttf),
        local(Roboto-Light)
}


/* !!!!!!!!!!!!! ΤΕΛΟΣ FONTS !!!!!!!!!!!!! */





.grid-container {

    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2fr 0.2fr;
    /*αρχικα εχουμε 3 column για υπολογιστη και μετα με media queries θα γινουν 2 για ταμπλετ και 1 για κινητα */
    width: 100vw;
    height: 100vh;

}

.header-item {

    grid-column: 1/4;
    grid-row: 1/2;
}

.main-item {
    /* εδω εχουμε φτιαξει με grid layout τα 3 σημεια καθε σελιδας ...header , main και footer */
    /* δηλαδη το που ξεκιναει και τελειωνει το καθε απο τα 3 μερη */
    grid-column: 1/4;
    grid-row: 2/3;
}



.footer-item {

    grid-column: 1/4;
    grid-row: 3/4;

}



/* !!!!!!!!!!!!!! ΤΕΛΟΣ GRID LAYOUT !!!!!!!!!!!!!!!!! */


/* !!!!!!!!!!!! HEADER !!!!!!!!!!!!! */


.header-light-color {
    background-color: #5680e9;
    text-align: center;
    margin-top: -30px;
    /* εχουμε βαλει χρωμα για background και μερικα margin ωστε να πηγαινει η φωτο στο κεντρο */
    margin-left: -10px;
    margin-right: -10px;


}




.navigation {
    font-family: roboto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #84ceeb;
    /* display flex ωστε να ειναι το καθε κουμπι ενα τετραγωνακι, justify και align center ωστε να ειναι κεντρο ολα τα κουμπια του μενου , line height για να ειναι λιγο πιο ψηλα και βαλαμε και @font-face roboto ως font */
    /*float: none;*/


}



.navigation a {
    color: black;
    font-size: 18px;
    /* αλλαγη στο χρωμα του font και βγαλαμε το underline απο τα link ωστε να φαινεται πιο ωραιο ,  τα καναμε bold */
    text-decoration: none;
    padding: 14px 12px;
    font-weight: bold;


}

.navigation a:visited {
    text-decoration: none;
    /* να μην αλλαζει το χρωμα αν τα εχουμε ηδη πατησει / επισκευθει */
}

.navigation a:hover {
    background-color: #2ea8d9;
    /* χρωμα του καθε "κουμπιου" απο το μενου οταν κανεις hover με το ποντικι */
}

.navigation a:active {
    /* χρωμα που παιρνει το font οταν πατας το συγκεκριμενο link */
    color: grey;
}


.navigation .active {
    /* χρωμα που παινρει το καθε κουμπι οταν ειναι ενεργο , δηλαδη εισαι στην συγκεκριμενη σελιδα */
    background-color: #2ea8d9;

}

/* !!!!!!!!!!! ΤΕΛΟΣ HEADER !!!!!!!!!!!! */



/* !!!!!!!!!!!!!!!! INDEX !!!!!!!!!!!!!!! */

body {
    background-color: #badff1;
    /* χρωμα για background του main περιεχομενου , font για το περιεχομενο επισης και overflow ωστε να μην υπαρχει η οριζοντια μπαρα scroll */
    font-family: roboto;
    font-size: 18px;
    /*font-size: 1.17vw;*/
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
}



#myData {

    display: flex;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 5%;
    padding-bottom: 5%;
}

.titlos {

    border: 2px solid #2ea8d9;
    background-color: #6ab1d4;
    border-radius: 25px;
    box-shadow: 0px 2px 16px #6ab1d4;
    padding-top: 25px;
    margin-top: -40px;
}

.fotografia {
    border: 2px solid #2ea8d9;
    border-bottom: 0px solid #2ea8d9;
    background-color: #6ab1d4;
    border-image-outset: 15px;
    max-height: 370px;
    overflow: hidden;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 0px 2px 16px #6ab1d4;
}





/* !!!!!!!!!!!!! ΤΕΛΟΣ INDEX !!!!!!!!!!!!!!!!! */




/* !!!!!!!!!!!!!! CATEGORY !!!!!!!!!!!!!!!!!!!!! */


#myProducts{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}



.proion {

    font-family: roboto-regular;
   
    border: 4px solid #6ab1d4;
    box-shadow: 0px 2px 16px #6ab1d4;
    border-radius: 25px;
    max-width: 90%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;

}



.photo > img{
    float: left;
    max-width:30%;
    max-height:30%;
    border-right: 2px solid #6ab1d4;
    background-color: #6ab1d4;
    border-radius: 0px 25px 25px 25px;
    object-fit: contain;
}

.title{

    border-bottom: 2px solid #6ab1d4;
    
}

.perigrafh{

    text-align: left;
    padding-left: 370px;
    padding-right: 40px;
}

.prod{
    margin-top: -30px;
    margin-bottom: 15px;
}

h5{

    display: inline-block;
    
}

.kwdikos{

    display: inline-block;
    font-size: 16px;
    
}

.price{

  
    text-align: left;
    padding-left: 370px;

   
}

.price > h3 {

    display: inline-block;

}



.price > p {

    display: inline-block;
    padding-left: 5px;

}


.kathgories-proiontwn{

    text-align: left;
    float: left;
    margin-top: 2%;
    
    padding-left: 5px;
    padding-right: 5px;
    border: 4px solid #6ab1d4;
    border-radius: 25px;
    box-shadow: 0px 2px 16px #6ab1d4;

}

.koumpia {
   
    padding-top: 2px;
    padding-bottom: 2px;
}


input,
label {
    cursor: pointer;
    /* pointer that indicates to a link */
}

input[type="radio"] {
    height: 15px;
    width: 15px;
}



.ypokathgories {
    
   
    appearance: none;
    border: 4px solid #fff;
    background-color: #ccc;
    border-radius: 50%;
    outline: 1px solid #ccc;
}


.ypokathgories:hover {
    outline-color: gray;
}


.ypokathgories .active{

    outline-color: #5680e9;
    background-color: #5680e9;
}


.ypokathgories:checked {
    outline-color: #5680e9;
    background-color: #5680e9;
    animation: outline-checked;
    /* το κουμπι να παιρνει γυρω γυρω και μεσα το χρωμα αυτο */
    animation-duration: 0.1s;
    animation-iteration-count: 4;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes outline-checked {
    0% {
        outline-offset: 0;
    }

    /* το χρεαιζομαστε για τo animation sequence */
    100% {
        outline-offset: -0.2rem;
    }
}




/* !!!!!!!!!!!!!!!!!!!! ΤΕΛΟΣ CATEGORY !!!!!!!!!!!! */



/* !!!!!!!!!!!!!!! FOOTER !!!!!!!!!!!!!!!!!!!!!! */
 
.footer-content {

    font-family: roboto-light;
    background-color: #5680e9;
    text-align: center;

    /* ΒΓΑΖΩ ΤΟ MARGIN TOP ΩΣΤΕ ΝΑ ΓΙΝΕΙ ΩΡΑΙΟ ΓΙΑ 4ο ΠΑΡΑΔΟΤΕΟ ΜΕ FR */
    /*margin-top: 50px;*/

    margin-left: -10px;
    margin-right: -10px;
    box-shadow: 0px -5px 16px #6ab1d4;
    border-bottom: 15px solid black;
}

.footer-content>h4:first-child {
    font-size: 20px;
    padding-top: 5px;
    font-family: roboto;
}

.footer-content>a {

    text-decoration: none;
}

.footer-content>a>img {
    filter: grayscale(100%);
    border-radius: 25px;
}

.footer-content>a>img:hover {
    filter: grayscale(0%);
}

/* !!!!!!!!!!!!! TΕΛΟΣ FOOTER !!!!!!!!!!!! */